body {
  background: #BBB -webkit-radial-gradient(50% 50%, circle cover, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2));
  font-size: 40px;
  text-shadow: 1px 1px 1px gray;
}

a {
  color: #FF6600;
  text-decoration: none;
  text-shadow: 1px 1px 2px #FF6600;
}

a:hover {
  text-decoration: none;
  background-color: #FF6600;
  color: white;
}

.step {
  width: 800px;
  text-align: center;
}

.step.active {
  opacity: 1;
}

.step:not(.active) {
  opacity: 0.3;
}

.step-overview .step {
  opacity: 1;
  cursor: pointer;
}

@-webkit-keyframes display {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

@-webkit-keyframes hide {
  0%    {opacity: 1;}
  100%  {opacity: 0;}
}

@-webkit-keyframes d3 {
  0%    {-webkit-transform:perspective(1000px) rotateY(-10deg);}
  100%  {-webkit-transform:perspective(1000px) rotateY(10deg);}
}

h1 {
  font-size: 120px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: d3 2s infinite alternate ease-in-out;
  -webkit-transform: perspective(1000px) rotateY(0deg);
  -webkit-transition: all 2s ease-in-out;
  position: relative;
  bottom: 100px;
}

.front {
  display: block;
  font-size: 80px;
  -webkit-transform: translateZ(50px);
}

.back {
  display: block;
  font-size: 60px;
  -webkit-transform: translateZ(-50px);
}

ul {
  text-align: left;
}