body {
  background: #BBB -webkit-radial-gradient(50% 50%, circle cover, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2));
  font-size: 60px;
}

a {
  font-size: 30px;
  color: #035241;
}

a:hover {
  text-decoration: none;
}

.step {
  width: 800px;
  text-align: center;
}

.step.active {
  opacity: 1;
}

.step:not(.active) {
  opacity: 0.3;
}

.step-overview .step {
  opacity: 1;
  cursor: pointer;
}

@-webkit-keyframes display {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

@-webkit-keyframes hide {
  0%    {opacity: 1;}
  100%  {opacity: 0;}
}

@-webkit-keyframes d3 {
  0%    {-webkit-transform:perspective(1000px) rotateY(-10deg);}
  100%  {-webkit-transform:perspective(1000px) rotateY(10deg);}
}

h1 {
  font-size: 120px;
  line-height: 1px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: d3 2s infinite alternate ease-in-out;
  -webkit-transform: perspective(1000px) rotateY(0deg);
  -webkit-transition: all 2s ease-in-out;
  text-shadow: 1px 1px 1px gray;
  position: relative;
  bottom: 100px;
}

.back {
  display: block;
  font-size: 60px;
  -webkit-transform: translateZ(-50px);
  position: relative;
}

.triangle-small {
  border-color: transparent transparent #C8102D transparent;
  border-style: solid;
  display: inline-block;
  border-width: 80px;
  width: 0;
}

.front {
  display: block;
  font-size: 80px;
  -webkit-transform: translateZ(50px);
  position: relative;
  top: 80px;
}

#practice {
  opacity: 0;
  -webkit-animation: hide 1.5s;
}

#practice.active {
  -webkit-animation: display 1.5s;
  opacity: 1;
}

#change.active .border {
  -webkit-transform: scale(1.2);
  -webkit-transition-delay: 0.75s;
  text-shadow: 1px 1px 1px white;
}

#change.active .rotate {
  -webkit-transition-delay: 1.75s;
  -webkit-transform: rotate(180deg);
}

#change b {
  display: inline-block;
  -webkit-transition: 0.5s;
}

#position {
}