.grail {
  height: 180px;
}

#practise {
  width: 1400px;
}

#practise a {
  display: inline-block;
  padding: 10px;
  vertical-align: top;

}

#practise img {
  height: 250px;
  box-shadow: 0 1px 4px gray;
}

.float-example article {
  text-align: left;
}

#float-left,
#float-right {
  height: 200px;
  width: 250px;
  text-align: center;
  line-height: 200px;
  border: 2px solid #B3B3B3;
  margin: 10px 20px;
}

#float-left {
  float: left;
}

#float-right {
  float: right;
}

.clear:after {
  display: block;
  height: 0;
  content: "";
  clear: both;
}

.step-practise #holy-grail {
  opacity: 1;
}

.step-procedure-1 #show-you,
.step-procedure-2 #show-you,
.step-procedure-3 #show-you {
  opacity: 1;
}

.container,
aside,
.center,
header,
footer {
  padding: 10px;
  margin: 10px;
}

.container {
  border: 2px solid #B3B3B3;
  text-shadow: 1px 1px 1px white;
}

header {
  background-color: #FF6666;
}

footer {
  background-color: #FF6FCF;
}

.left {
  background-color: #CCFF66;
  width: 100px;
}

.right {
  background-color: #FFCC66;
  width: 150px;
}

.center {
  background-color: #66CCFF;
}

#section-1 aside,
#section-1 .center {
  float: left;
}

#section-1 .center {
  width: 300px;
}

#section-2 .left {
  float: left;
}

#section-2 .right {
  float: right;
}

#section-2 .center {
  margin-left: 150px;
  margin-right: 200px;
}

#section-3 .column {
  float: left;
  position: relative;
}

#section-3 .content {
  padding-left: 140px;
  padding-right: 230px;
}

#section-3 .center {
  width: 100%;
}

#section-3 .left {
  right: 170px;
  margin-left: -100%;
}

#section-3 .right {
  margin-right: -100%;
}

#procedure-1 .center,
#procedure-2 .center,
#procedure-3 .center {
  width: 100%;
}

#procedure-1 .column,
#procedure-2 .column,
#procedure-3 .column {
  float: left;
}

#procedure-1 .content,
#procedure-2 .content,
#procedure-3 .content {
  padding-left: 140px;
  padding-right: 230px;
}

#procedure-2 .left,
#procedure-3 .left {
  margin-left: -100%;
}

#procedure-2 .right,
#procedure-3 .right {
  margin-right: -100%;
}

#procedure-3 .column {
  position: relative;
}

#procedure-3 .left {
  right: 170px;
}
